body{
    margin: 0;
    padding: 0;
    text-align: center;
    background:url(z.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;




}
.contact-title{
margin-top: 100px;
color:blue;
text-transform: uppercase;
transition: all 4s ease-in-out;


}
.contact-title h1{
font-size: 32px;
line-height:10px ;
color:blue;

}
.contact-title h2{
    font-size: 16px;
	color:red;
}
form{

margin-top: 50px;
transition: all 4s ease-in-out;

}
.form-control{
width:600px;
background: transparent;
border: none;
outline:none;
border-bottom: 1px solid blue;
color:blue;
font-size:15px;
margin-bottom: 16px;
font-family:blue;


}

	
	
	

input{

    height: 45px;
	
	
}

form .submit{
background: skyblue;
color:blue;
font-size: 20px;
font-weight: bold;
letter-spacing:2px;
height: 50px;
margin-top:20px;


}
form .submit:hover{

background-color:blue; 
cursor:pointer;
color:skyblue;


}